@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

body {
    padding: 30px;
    background-color: rgb(250, 255, 255);
}

.main {
    width: 1400px;
    /* border: 3px solid rgb(170, 164, 164); */
    margin: 0 auto;
    padding: 30px;
    height: 100%;
    /* background-color: rgb(247, 240, 240); */
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    border-radius: 5%;
} 

.linksConteiner {
    text-align: center;
    margin: 4px 0 0 0;
    font-family: 'ZCOOL KuaiLe', cursive;
}

.links {
    font-size: 37px;
    font-family: 'ZCOOL KuaiLe', cursive;
    margin: 0 10px 20px 10px;
    font-weight: 800;
    text-decoration:none;
    color: rgb(114, 114, 124);
    color: transparent;
    -webkit-text-stroke: 1px rgb(165, 150, 150);
    text-decoration: none;
    cursor: pointer;
}

.links:hover {
    text-shadow: 15px 10px 3px rgba(105, 97, 97, 0.3);
    text-decoration: none;
    cursor: pointer;
}

.photoGoods {
    width: 250px;
    height: 255px;
    transition: 0.5s;
    border-radius: 2%;
}


.photoGoods:hover {
    transition: 0.5s;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    position: relative;
    z-index: 5;
}

.miniConteinerForGood {
    padding: 5px;
    margin: 9px 20px 25px 16px;
    width: 300px;
    text-align: center;
    background-color: rgb(255, 251, 255);
    height: 422px;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transition: 0.5s;
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    font-family: 'Noto Sans TC', sans-serif;
}

.miniConteinerForGood:hover {
    -webkit-transform: scale(1.20);
    -moz-transform: scale(1.20);
    position: relative;
    z-index: 5;
    transition: 0.5s;
  }

.buttonEdit {
    margin: 11px 0 0 171px;
}

.buttonReset {
    margin: 0 0 0 3px;
}

Link {
    text-decoration: none;
    cursor: pointer;
}

.titleOfGoods {
    margin: -3px 0 17px 0;
    font-size: 44px;
    text-decoration: underline; 
    color: rgb(63, 60, 60);
    text-transform: uppercase;
    cursor: pointer;
    text-decoration-color: rgb(255, 255, 255);
    border-bottom: none;
}

h2 {
    text-decoration: none;
}

.titleOfGoods:link{ 
    color: rgb(63, 60, 60);
    text-decoration: none;
}

.titleOfGoods:active{ 
    color: rgb(63, 60, 60);
    text-decoration: none;
}

.titleOfGoods:visited{ 
    color: rgb(63, 60, 60);
    text-decoration: none;
}

.aboutGoods {
    margin: 7px 0 6px 0px;
}

.priceGoods {
    margin: 13px 0 16px 24px
}

.listConteinerForGoods {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 70px 0 0 0;
    font-family: 'Noto Sans TC', sans-serif;
    text-decoration: none;
}

.miniConteinerForGood:nth-child(3n) {
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
}

.miniConteinerForGood:nth-child(even) {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
}

.miniConteinerForGood:nth-child(5n) {
    -webkit-transform: none;
    -moz-transform: none;
    position: relative;
    top: -5px;
}

.miniConteinerForGood:nth-child(3n):hover {
    -webkit-transform: scale(1.20);
    -moz-transform: scale(1.20);
    position: relative;
    z-index: 5;
    transition: 0.5s;
}

.miniConteinerForGood:nth-child(even):hover {
    -webkit-transform: scale(1.20);
    -moz-transform: scale(1.20);
    position: relative;
    z-index: 5;
    transition: 0.5s;
}

.miniConteinerForGood:nth-child(5n):hover {
    -webkit-transform: scale(1.20);
    -moz-transform: scale(1.20);
    position: relative;
    z-index: 5;
    transition: 0.5s;
}
  

.miniConteinerForGoodSub {
    padding: 20px;
    margin: 69px 20px 25px 16px;
    width: 437px;
    text-align: center;
    background-color: rgb(255, 251, 255);
    border-radius: 3%;
    height: 579px;
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}

.buttonEditSub {
    margin: 13px 0 0 284px;
}

.buttonResetSub {
    margin: 0 0 0 3px;
}

.titleOfGoodsSub {
    margin: 25px 0 12px 0;
    font-size: 44px;
    cursor: pointer;
}

.aboutGoodsSub {
    margin: 7px 0 6px 0px;
}

.priceGoodsSub {
    margin: 26px 0 6px 0px;
}

.dateOfGoodsSub {
    margin: -9px 0 -6px -150px;
}

.listConteinerForGoodsSub {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Noto Sans TC', sans-serif;
}

.photoGoodsSub {
    width: 344px;
    height: 309px;
    transition: 0.5s;
    border-radius: 6%
}

.photoGoodsSub:hover {
    transition: 0.5s;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    position: relative;
    z-index: 5;
}

.goodPageConteinerSub {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.paragraphOfGoodsSub {
    margin: 15px 0 21px 45px;
    text-align: justify;
    width: 348px;
}

.editInput {
    margin: 38px 0 16px 26px;
    width: 130px; 
}

.editMini {
    margin: 20px 0 -57px 38px;
    width: 50px;
}

.inputPrice {
    margin: 37px 0 0 83px;
}

.editAbout {
    margin: 21px 0 -18px -275px;
}

.photoEdit {
    width: 344px;
    height: 309px;
    margin: 8px 0 0 0
}

.editForm {
    padding: 5px;
    margin: 128px 20px 25px 16px;
    width: 437px;
    text-align: center;
    background-color: rgb(255, 251, 255);
    height: 582px;
    border-radius: 3%;
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}

.editButton {
    margin: 0 0 0 10px;
}

.editAboutDate {
    margin: 17px 0 -17px -313px;
}

.addGoodHeader {
    margin: 25px 0 19px 519px;
    color: rgb(143, 130, 130);
}

.addForm {
    display: flex;
    flex-direction: row;
    margin: 0 10px 0 15px
}

.addInput {
    margin: 0 10px 0 15px
}

.addTitleMini{
    color: rgb(102, 85, 85);
    font-size: 17px;
    margin: 0 10px 5px 15px
}

.addAbout {
    color: rgb(102, 85, 85);
    font-size: 17px;
    margin: 0 10px 5px 15px
}

.addAboutInput {
    margin: 0 10px 0 15px
}

.addAboutDate {
    color: rgb(102, 85, 85);
    font-size: 17px;
    margin: 0 10px 5px 15px
}

.addInputDate {
    margin: 0 10px 0 15px
}

.addMini {
    color: rgb(102, 85, 85);
    font-size: 17px;
    margin: 0 10px 5px 15px
}

.addPrice {
    margin: 0 10px 0 15px
}

.addButton {
    margin: 12px 0 0 20px;
    border-radius: -1%;
    width: 87px;
    height: 33px;
}

.archiveMiniConteiner {
    display: flex;
    flex-direction: row;
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    border-radius: 5%;
    background-color: rgb(255, 251, 251);
    margin: 0 0 8px 0;
    width: 1402px;
    height: 156px;
    transition: 0.5s;
    -webkit-transform: rotate(-0.2deg);
    -moz-transform: rotate(-0.2deg);
}

.archiveMiniConteiner:hover {
    height: 160px;
    border-radius: 5%;
    margin: 0 0 10px 0;
    transition: 0.5s;
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    position: relative;
    z-index: 5;
}

.titleOfArchive {
    display: inline;
    margin: 58px 18px 0 12px;
    width: 122px;
    font-size: 25px;
}

.photoGoodArchive {
    width: 214px;
    height: 142px;
    margin: 9px 15px 3px 8px;
    transition: 0.5s;
    border-radius: 26px;
}

.photoGoodArchive:hover {
    transition: 0.5s;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    position: relative;
    z-index: 5;
}



.paragraphOfGoodArchive {
    width: 400px;
    margin: 26px 17px 10px 10px; 
}

.dateOfGoodArchive {
    margin: 40px 17px 10px 10px;
}

.priceGoodArchive {
    margin: 40px 17px 10px 10px;
}

.dateSaleArchive {
    margin: 40px 17px 10px 10px;
}

.archivePageConteiner {
    padding: 10px 0 0 0;
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
}

.addClickGood {
    margin: 35px 0 0 21px;
}

.clickGoodCont {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-family: 'Noto Sans TC', sans-serif;
}

.checkSummOfSales {
    margin: 26px 0 0 0;
    color: rgb(161, 80, 80);
    font-size: 24px;
    font-weight: 600;
    font-family: sans-serif;
    text-align: center;
}

.checkSummOfSalesSub {
    margin: 26px 0 0 487px;
    color: rgb(161, 80, 80);
    font-size: 24px;
    font-weight: 600;
    font-family: sans-serif;
    text-align: center;
}

.checkSummInput {
    height: 21px;
    margin: 27px 0 0 36px;
    padding: 0 0 0 70px;
    width: 85px;
}

.checkSummBox {
    display: flex;
    flex-direction: row;
}

.start {
    margin: 10px 0 0 10px;
}

.archiveHeader {
    display: flex;
    flex-direction: row;
    margin: 0 0 26px 0;
}

.buttonSelect {
    margin: 10px 0 0 10px;
}

.select {
    margin: 9px 0 0 473px;
    width: 120px;
    font-size: 15px;
}

.candleBox {
    text-align: right;
}

.candleButton {
    outline: none; /* Для синий ободки */
    border: 0;
    background: transparent;
    font-size: 16px;
    /* margin: -1px 0 -19px 0; */
    position: relative;
    bottom: 24px;
    right: 62px;
}

.candleButton:hover {
    background-color: rgb(252, 229, 252);
    border-radius: 40%;
}

.loginForm {
    width: 438px;
    /* border: 3px solid rgb(247, 197, 205); */
    height: 246px;
    padding: 30px;
    text-align: center;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 253, 253);
    margin: 107px 0 118px 448px;
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}

.loginInput {
    margin: 79px 0 10px 104px;
    padding: 0 0 0 96px;
    width: 130px;
}

.passwordInput {
    margin: 0 0 10px 104px;
    padding: 0 0 0 89px;
    width: 137px;
}

.loginButton {
    margin: 0 0 10px 104px;
    padding: 0 0 0 0;
    width: 229px;
}

.resetButton {
    outline: none; /* Для синий ободки */
    border: 0;
    background: transparent;
    color: rgb(148, 32, 12);
    font-size: 20px;
    position: relative;
    bottom: 24px;
    right: 62px;
}

.resetButton:hover {
    background-color: rgb(255, 253, 253);
    border-radius: 40%;
    position: relative;
    bottom: 24px;
    right: 62px;
}

.newsPictures {
    width: 400px;
    height: 280px;
    margin: 33px 25px 57px 141px;
    border-radius: 5%;
    transition: 0.5s;
}

.newsPictures:hover {
    transition: 0.5s;
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    position: relative;
    z-index: 5;
}

.newsParagraph {
    width: 600px;
    height: 280px;
    margin: 23px 20px 57px 45px;
    text-align: justify;
}

.newsPageConteiner {
    font-family: 'Noto Sans TC', sans-serif;
}

.newsMiniConteiner {
    display: flex;
    flex-direction: row;
}

.contactsPictures {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 30px 0 20px 0;
}

.contactConteinerMini {
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    height: 652px;
}

.map-box { 
	padding: 34px;
    background: #fff;
    border: 1px solid #ddd;
    z-index: 100;
    width: 274px;
    height: 191px;
    box-shadow: -1px -1px 24px 0px rgb(50 50 50 / 50%);
    border-radius: 20%;
    margin: 20px 34px 73px 90px;
}
.map-box p {
	font-size: 18px;
}

.yandexMap {
    width: 400px;
    position: relative;
    bottom: 173px;
    left: 368px;    
}
