@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

body {
    padding: 30px;
    background-color: rgb(250, 255, 255);
}

.main {
    background-color: rgb(255, 251, 255);
    width: 1500px;
    margin: 0 auto;
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    border-radius: 5%;
    padding: 70px 0px 59px 74px;
} 

.linksConteiner {
    text-align: center;
    margin: 4px 0 0 0;
    font-family: 'ZCOOL KuaiLe', cursive;
}

.links {
    font-size: 37px;
    font-family: 'ZCOOL KuaiLe', cursive;
    margin: 0 10px 20px 10px;
    font-weight: 800;
    text-decoration:none;
    color: rgb(3, 3, 3);
    color: transparent;
    -webkit-text-stroke: 1px rgb(8, 8, 8);
    text-decoration: none;
    cursor: pointer;
}

.links:hover {
    text-shadow: 15px 10px 3px rgba(105, 97, 97, 0.3);
    text-decoration: none;
    cursor: pointer;
}

.photoGoods {
    width: 250px;
    height: 255px;
    transition: 0.5s;
    border-radius: 2%;
}


.photoGoods:hover {
    transition: 0.5s;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    position: relative;
    z-index: 5;
}

.miniConteinerForGood {
    padding: 5px;
    margin: 9px 20px 25px 16px;
    width: 298px;
    text-align: center;
    background-color: white;
    height: 439px;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transition: 0.5s;
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-box-shadow: 0 3px 6px rgb(0 0 0 / 25%);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    font-family: 'Noto Sans TC', sans-serif;
    text-decoration: none;
}

.miniConteinerForGood:hover {
    -webkit-transform: scale(1.20);
    -moz-transform: scale(1.20);
    position: relative;
    z-index: 5;
    transition: 0.5s;
    text-decoration: none; 
  }

.buttonEdit {
    margin: 8px 0 0 171px;
}

.buttonReset {
    margin: 0 0 0 3px;
}

Link {
    text-decoration: none;
    cursor: pointer;
}

.titleOfGoods {
    margin: -3px 0 17px 0;
    font-size: 44px;
    text-decoration: underline; 
    color: rgb(63, 60, 60);
    text-transform: uppercase;
    cursor: pointer;
    text-decoration-color: rgb(255, 255, 255);
    border-bottom: none;
}

h2 {
    text-decoration: none;
}

.titleOfGoods:link{ 
    color: rgb(63, 60, 60);
    text-decoration: none;
}

.titleOfGoods:active{ 
    color: rgb(63, 60, 60);
    text-decoration: none;
}

.titleOfGoods:visited{ 
    color: rgb(63, 60, 60);
    text-decoration: none;
}

.aboutGoods {
    margin: 7px 0 6px 0px;
}

.priceGoods {
    margin: 13px 0 16px 24px
}

.listConteinerForGoods {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 70px 0 0 0;
    font-family: 'Noto Sans TC', sans-serif;
    text-decoration: none;
}

.miniConteinerForGood:nth-child(3n) {
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
}

.miniConteinerForGood:nth-child(even) {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
}

.miniConteinerForGood:nth-child(5n) {
    -webkit-transform: none;
    -moz-transform: none;
    position: relative;
    top: -5px;
}

.miniConteinerForGood:nth-child(3n):hover {
    -webkit-transform: scale(1.20);
    -moz-transform: scale(1.20);
    position: relative;
    z-index: 5;
    transition: 0.5s;
}

.miniConteinerForGood:nth-child(even):hover {
    -webkit-transform: scale(1.20);
    -moz-transform: scale(1.20);
    position: relative;
    z-index: 5;
    transition: 0.5s;
}

.miniConteinerForGood:nth-child(5n):hover {
    -webkit-transform: scale(1.20);
    -moz-transform: scale(1.20);
    position: relative;
    z-index: 5;
    transition: 0.5s;
}
  

.miniConteinerForGoodSub {
    padding: 20px 20px 20px 16px;
    margin: 69px 20px 25px 7px;
    width: 437px;
    text-align: center;
    background-color: white;
    border-radius: 3%;
    height: 675px;
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}

.miniButton {
    margin: 2px 0 -12px 181px;
}

.buttonEditSub {
    margin: 0 5px 0 0px;
}

.buttonResetSub {
    margin: 0 0px 0 0px;
}

.titleOfGoodsSub {
    margin: 19px 0 26px 0;
    font-size: 44px;
    cursor: pointer;
}

.aboutGoodsSub {
    margin: 7px 0 6px 0px;
}

.priceGoodsSub {
    margin: 20px 0 6px 0px;
}

.dateOfGoodsSub {
    margin: 0px 0 0px 31px;
    text-align: left;
}

.listConteinerForGoodsSub {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Noto Sans TC', sans-serif;
}

.photoGoodsSub {
    width: 344px;
    height: 309px;
    transition: 0.5s;
    border-radius: 6%
}

.photoGoodsSub:hover {
    transition: 0.5s;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    position: relative;
    z-index: 5;
}

.goodPageConteinerSub {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.paragraphOfGoodsSub {
    margin: 17px 0 14px 31px;
    text-align: justify;
    width: 341px;
}

.editInput {
    margin: 37px 0 16px 124px;
    width: 210px;
}

.editInputNameDiv {
    display: flex;
    flex-direction: row;
}

.editInputFileDiv {
    margin: 13px 0 8px 41px;
    width: 342px;
}

.editInputDiv{
    width: 212px;
    margin: 0 0 0 24px;
}

.editAboutInputDiv {
    width: 212px;
    margin: 16px 0 0 43px;
}

.aboutInputDiv {
    width: 214px;
    margin: 15px 0 0 43px;
}

.addInputTitle{
    display: flex;
    flex-direction: row ;
}

.addInputDiv {
    width: 214px;
    margin: 73px 0 0 27px;
}

.editMini {
    margin: 18px 0 12px 50px;    
}

.editMiniP {
    margin: 4px 0 12px 45px;    
}

.inputPrice {
    margin: 19px 0 10px 56px;
    width: 210px;
    height: 30px;
}

.editButtonDiv{
    margin: 0 0 5px 0;
}

.editAbout {
    margin: 21px 11px 8px 47px;
}

.editAboutInput {
    margin: 23px 0 0px 14px;
    width: 210px;
}

.editInputDate {
    margin: 23px 0 0px 14px;
    width: 210px;
    height: 30px;
}

.editContBox {
    display: flex;
    flex-direction: row;
}

.photoEdit {
    width: 344px;
    height: 309px;
    margin: 8px 0 0 0;
    transition: 0.5s;
    border-radius: 2%;
}

.photoEdit:hover {
    transition: 0.5s;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

.editInputDateDiv {
    width: 212px;
    margin: 17px 0 0 37px;
}

.inputPriceDiv {
    width: 212px;
    margin: 17px 0 0 83px;
}


.editForm {
    padding: 33px 5px 5px 5px;
    margin: 82px 20px 25px 16px;
    width: 437px;
    text-align: center;
    background-color: white;
    height: 582px;
    border-radius: 3%;
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    height: 694px;
}

.editButton {
    margin: 15px 0 0 10px;
}

.editAboutInputFile {
    margin: 13px 0 10px 0;
}

.editAboutDate {
    margin: 17px 51px 8px 48px;
}

.addGoodHeader {
    margin: 25px 0 19px 519px;
    color: rgb(143, 130, 130);
    font-family: 'Noto Sans TC', sans-serif;
}

.addForm {
    padding: 5px;
    margin: 60px 20px 25px 477px;
    width: 437px;
    text-align: center;
    background-color: white;
    height: 582px;
    border-radius: 3%;
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    font-family: 'Noto Sans TC', sans-serif;
}

.addGoodsSub {
    margin: 36px -1px 0 0;
}

.addFormButton {
    margin: -6px 0 0 0;
}

.addInput {
    margin: 0 10px 0 15px;
    width: 282px;
}

.addInputTwo{
    margin: 0 10px 0 72px;
    width: 282px;
}

.addTitleMini{
    color: rgb(102, 85, 85);
    font-size: 17px;
    margin: 73px -9px 15px 40px;
}

.addInputTwoDiv {
    margin: 7px 0 0 39px;
    width: 253px;
}

.addAboutBox {
    display: flex;
    flex-direction: row;
}

.addPhotoMiniBox {
    display: flex;
    flex-direction: row;
}

.addTitleMiniTwo {
    width: 120px;
    width: 80px;
    margin: 12px 0 0 22px;
    font-size: 17px;
}

.addAbout {
    color: rgb(102, 85, 85);
    font-size: 17px;
    margin: 8px 0px 8px 41px;
    width: 84px;
}

.addAboutInputNext {
    margin: 6px 0 8px 55px;
    width: 214px;
}

.addAboutInputBox {
    display: flex;
    flex-direction: row;
}

.addInputDateBox {
    display: flex;
    flex-direction: row;
}

.addAboutP {
    color: rgb(102, 85, 85);
    font-size: 17px;
    margin: 20px 0px 8px 41px;
}

.addAboutInputDiv {
    margin: 19px 0 16px 55px;
    width: 214px;
}

.addAboutInput {
    margin: 0 10px 0 15px;
    width: 282px;
}

.addAboutDate {
    color: rgb(102, 85, 85);
    font-size: 17px;
    margin: 14px 0px 8px 21px;
    width: 84px;
}

.addInputDateDiv {
    margin: 12px 0 16px 75px;
    width: 214px;
}


.addInputDate {
    margin: 0 10px 0 15px;
    width: 282px;
}

.addMini {
    color: rgb(102, 85, 85);
    font-size: 17px;
    margin: 14px 0px 8px 21px;
    width: 84px;
}

.addInputPriceBox {
    display: flex;
    flex-direction: row;
}

.addInputPriceDiv {
    margin: 12px 0 16px 75px;
    width: 214px;
}

.addPrice {
    margin: 0 10px 0 15px;
    width: 282px;
}

.addButton {
    margin: 27px 0 0 5px;
    border-radius: -1%;
    width: 87px;
    height: 33px;
}

.archiveMiniConteiner {
    display: flex;
    flex-direction: row;
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    border-radius: 5%;
    background-color: white;
    margin: 0 0 8px 0;
    width: 1331px;
    height: 156px;
    transition: 0.5s;
    -webkit-transform: rotate(-0.2deg);
    -moz-transform: rotate(-0.2deg);
}

.archiveMiniConteiner:hover {
    height: 160px;
    border-radius: 5%;
    margin: 0 0 10px 0;
    transition: 0.5s;
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    position: relative;
    z-index: 5;
}

.titleOfArchive {
    display: inline;
    margin: 58px 18px 0 22px;
    width: 122px;
    font-size: 25px;
}

.photoGoodArchive {
    width: 214px;
    height: 142px;
    margin: 9px 15px 3px 8px;
    transition: 0.5s;
    border-radius: 26px;
}

.photoGoodArchive:hover {
    transition: 0.5s;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    position: relative;
    z-index: 5;
    left: 15px;
}



.paragraphOfGoodArchive {
    width: 400px;
    margin: 17px 17px 10px 10px;
    text-align: justify;
    font-size: 15px;
}

.dateOfGoodArchive {
    margin: 63px 17px 10px 10px;
}

.priceGoodArchive {
    margin: 63px 17px 10px 10px;
}

.dateSaleArchive {
    margin: 63px 17px 10px 10px;
}

.archivePageConteiner {
    padding: 10px 0 0 0;
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
}

.addClickGood {
    margin: 28px 0 0 21px;
}

.clickGoodCont {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-family: 'Noto Sans TC', sans-serif;
}

.checkSummOfSales {
    margin: 26px 0 0 0;
    color: rgb(17, 128, 192);
    font-size: 24px;
    font-weight: 600;
    font-family: "Noto Sans TC", sans-serif;
    text-align: center;
}

.checkSummOfSalesSub {
    margin: 11px 0 0 487px;
    color: rgb(17, 128, 192);
    font-size: 24px;
    font-weight: 600;
    font-family: "Noto Sans TC", sans-serif;
    text-align: center;
}

.checkSummInput {
    height: 21px;
    margin: 16px 0 0 37px;
    padding: 0 0 0 0px;
    width: 113px;
}

.checkSummBox {
    display: flex;
    flex-direction: row;
}

.start {
    margin: 10px 0 0 10px;
}

.archiveHeader {
    display: flex;
    flex-direction: row;
    margin: 0 0 26px 0;
}

.buttonSelect {
    margin: 10px 0 0 10px;
}

.select {
    margin: 8px 0 0 403px;
    width: 169px;
    padding: 2px 5px 3px 8px;
    height: 30px;
    font-size: 15px;
    transition: 0.5s;
    border: 1px solid rgb(202, 206, 206);
}

.select:hover {
    transition: 0.5s;
    border: 1px solid rgb(89, 177, 250);
    color: rgb(114, 189, 250);
}

.select:focus {
    transition: 0.5s;
    box-shadow: 0px 0px 3px rgb(67, 171, 255);
    outline: none;
}

.candleBox {
    text-align: right;
}

.candleButton {
    outline: none; /* Для синий ободки */
    border: 0;
    background: transparent;
    font-size: 16px;
    position: relative;
    bottom: 52px;
    right: 161px;
}

.candleButton:hover {
    background-color: rgb(252, 229, 252);
    border-radius: 40%;
}

.loginForm {
    width: 438px;
    /* border: 3px solid rgb(247, 197, 205); */
    height: 246px;
    padding: 30px;
    text-align: center;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 253, 253);
    margin: 107px 0 118px 448px;
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}

.loginInput {
    margin: 79px 0 10px 104px;
    padding: 0 0 0 96px;
    width: 130px;
}

.passwordInput {
    margin: 0 0 10px 104px;
    padding: 0 0 0 89px;
    width: 137px;
}

.loginButton {
    margin: 0 0 10px 104px;
    padding: 0 0 0 0;
    width: 229px;
}

.resetButton {
    outline: none; /* Для синий ободки */
    border: 0;
    background: transparent;
    color: rgb(148, 32, 12);
    font-size: 20px;
    position: relative;
    bottom: 52px;
    right: 161px;
}

.resetButton:hover {
    background-color: rgb(255, 253, 253);
    border-radius: 40%;
    position: relative;
    bottom: 24px;
    right: 62px;
}

.newsPictures {
    width: 400px;
    height: 280px;
    margin: 33px 25px 57px 141px;
    border-radius: 5%;
    transition: 0.7s;
}

.newsPictures:hover {
    transition: 0.7s;
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    position: relative;
    z-index: 5;
    left: 25px;
}

.newsParagraph {
    width: 600px;
    height: 280px;
    margin: 30px 20px 57px 45px;
    text-align: justify;
    font-weight: 300;
}

.newsPageConteiner {
    font-family: 'Noto Sans TC', sans-serif;
}

.newsMiniConteiner {
    display: flex;
    flex-direction: row;
}

.contactsPictures {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 30px 0 20px 0;
}

.contactConteinerMini {
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    height: 652px;
}

.mapBox { 
	padding: 60px 4px 4px 3px;
    background-color: white;
    width: 292px;
    height: 308px;
    /* box-shadow: -1px -1px 24px 0px rgb(50 50 50 / 50%); */
    border-radius: 2%;
    position: relative;
    top: 288px;
    left: -311px;
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}

.mapBox p {
	font-size: 18px;
}

.yandexMap {
    width: 400px;
    position: relative;
    bottom: -256px;
    left: 175px;
}

.thirdPageConteiner {
    font-family: 'Noto Sans TC', sans-serif;
}

.contactForm {
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    border-radius: 2%;
    width: 1100px;
    height: 225px;
    padding: 1px 15px 15px 27px;
    margin: 0 0 0 -247px;
    background-color:white;
}

.inputButtonNews {
    margin: 10px 0 7px -13px;
    background-color: white;
    border: 1px solid gray;
    padding: 6px;
    transition: 0.5s;
}

.inputButtonNews:hover {
    border: 1px solid rgb(1, 117, 212);
    color: rgb(67, 171, 255);
    transition: 0.5s;
}

.inputButtonNews:focus {
    box-shadow: 0px 0px 5px rgb(67, 171, 255);
    transition: 0.6s;
}

.inputButtonNe {
    margin: 10px 0 10px 0;
}

.contactConteinerMini {
    display: flex;
    flex-direction: row;
}

.questionData1 {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 202px;
}

.questionData {
    display: flex;
    flex-direction: row;
}

.questionArea {
    margin: 5px 0 0 24px;
    width: 266px;
    height: 107px;
    padding: 10px;
    transition: 0.5s;
    border: 1px solid rgb(202, 206, 206);
}

::placeholder {
    color: rgb(199, 195, 195);
    opacity: 1;
}

.questionArea:hover {
    border: 1px solid rgb(114, 189, 250);
    transition: 0.5s;
}

.questionArea:focus{
    outline: none;
    box-shadow: 0px 0px 3px rgb(67, 171, 255);
    transition: 0.6s;
}

.inputNameNew {
    margin: 5px 0 6px -8px;
    height: 27px;
    width: 237px;
}

.firstParagraphNews {
    margin: 14px 0 0 0;
}

.secondParagraphNews {
    margin: 18px 0 11px 0;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 18px;
    color: rgb(109, 86, 86);
}

.mailto {
	text-transform: none;
    color: rgb(141, 119, 119);
}

.contactsTitle {
	font-size: 33px;
    font-family: 'ZCOOL KuaiLe', cursive;
    margin: 19px 8px 14px 9px;
    font-weight: 800;
    text-decoration: none;
    color: rgb(3, 3, 3);
    color: transparent;
    -webkit-text-stroke: 1px rgb(8, 8, 8);
    text-decoration: none;
}


